<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeIgniter - Scaffold</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <style>
        body {
            

background: rgba(197,205,217,1);
background: -moz-linear-gradient(left, rgba(197,205,217,1) 0%, rgba(160,186,225,1) 82%, rgba(152,182,227,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(197,205,217,1)), color-stop(82%, rgba(160,186,225,1)), color-stop(100%, rgba(152,182,227,1)));
background: -webkit-linear-gradient(left, rgba(197,205,217,1) 0%, rgba(160,186,225,1) 82%, rgba(152,182,227,1) 100%);
background: -o-linear-gradient(left, rgba(197,205,217,1) 0%, rgba(160,186,225,1) 82%, rgba(152,182,227,1) 100%);
background: -ms-linear-gradient(left, rgba(197,205,217,1) 0%, rgba(160,186,225,1) 82%, rgba(152,182,227,1) 100%);
background: linear-gradient(to right, rgba(197,205,217,1) 0%, rgba(160,186,225,1) 82%, rgba(152,182,227,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5cdd9', endColorstr='#98b6e3', GradientType=1 );

        }
    </style>
</head>

<body>
    <br><br>
    <div class="container" id="app">
        <h1>CodeIgniter Scaffold</h1><i><small><a class="btn" href="https://gitlab.com/JovannyRch">by JovannyRch</a></small></i> <br><br>
        <div class="row">
            <br>
            <div class="col-sm-12">
                <form v-on:submit.prevent="generarSaffold">
                    <input type="text" v-model="tableName" class="form-control" placeholder="Nombre de la tabla">
                    <br><br>
                    <div class="row">
                        <div v-for="(columna,i) in columnas">
                            <br>
                            <input class="form-control" type="text" class="col-3" v-model="columnas[i].nombre">
                            <select class="form-control" name="" id="" v-model="columnas[i].tipo">
                                <option v-for="tipo in tipos" v-text="tipo"></option>
                            </select>
                            <input class="form-control" v-if="columnas[i].tipo === 'varchar'" type="text" class="col-3"
                                v-model="columnas[i].size">
                        </div>
                    </div>
                    <br><br>
                    <center>
                        <button class="btn" type="button" @click="addColumn">Agregar Columna</button>
                        <button class="btn" type="submit" v-if="tableName">Generar</button>
                    </center>
                </form>
            </div>
            <div class="col-sm-12" v-if="listo">
                <h1>Resultado</h1>
                <label for="">{{tableNameFormated}}.sql</label><br>
                <textarea class="form-control" name="" id="" cols="160" rows="15" v-model="resultado.sql"></textarea>
                <br><br>
                <label for="">{{tableNameFormated}}.php</label><br>
                <textarea class="form-control" name="" id="" cols="160" rows="15" v-model="resultado.contollerRest"></textarea>
                <br><br>
                <label for="">{{tableNameFormated}}_model.php</label><br>
                <textarea class="form-control" name="" id="" cols="160" rows="15" v-model="resultado.model"></textarea>
                <br><br>
                <label for="">{{Axios}}</label><br>
                <textarea class="form-control" name="" id="" cols="160" rows="15" v-model="resultado.axios"></textarea>
                <br><br>
                <label for="">{{tableNameFormated}}.html</label><br>
                <textarea class="form-control" name="" id="" cols="160" rows="15" v-model="resultado.vista"></textarea>

            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                tableName: "",
                tableNameFormated: '',

                listo: false,
                columnas: [],
                tipos: ["PRIMARY KEY", "integer", "date", "decimal", "varchar", "text", "boolean"],
                resultado: {
                    sql: "",
                    contollerRest: "",
                    model: "",
                    vista: '',
                    axios: ''
                }
            },
            methods: {
                generarSaffold() {
                    this.resultado.sql = generarSQL(this.columnas, this.tableName);
                    this.resultado.contollerRest = generarRest(this.columnas, this.tableName);
                    this.resultado.model = generarModel(this.columnas, this.tableName);
                    this.resultado.vista = generarVistas(this.columnas, this.tableName);
                    this.resultado.axios = generarAxios(this.columnas, this.tableName);
                    this.tableNameFormated = formatTableName(this.tableName);
                    this.listo = true;
                },
                addColumn() {
                    this.columnas.push({
                        nombre: '',
                        tipo: ''
                    });
                }
            }
        });

        function generarSQL(columnas, tableName) {
            var resultado;
            resultado = " CREATE TABLE " + tableName.toLowerCase() + "(\n";
            for (var i in columnas) {
                row = columnas[i];
                if (row.nombre) {
                    if (row.tipo === 'varchar') {
                        resultado += "\t" + row.nombre + " varchar(" + row.size + ")";
                    } else if (row.tipo === 'PRIMARY KEY') {
                        resultado += "\t" + row.nombre + " integer AUTO_INCREMENT NOT NULL PRIMARY KEY";
                    } else {
                        resultado += "\t" + row.nombre + " " + row.tipo;
                    }
                    if (i == columnas.length - 1) resultado += "\n";
                    else resultado += ",\n";

                }
            }
            resultado += ");"
            return resultado;
        }

        function formatTableName(tableName) {
            resultado = tableName.toLowerCase();
            firtsLetter = resultado[0].toUpperCase();
            resultado = firtsLetter + resultado.substring(1, resultado.length);
            return resultado;
        }

        function generarRest(columnas, tableName) {
            var resultado;
            var tableNameFormated = formatTableName(tableName);
            var primaryKey = getPrimaryKey(columnas);

            resultado =
                `<?php
//REST_Controller
require_once APPPATH.'/libraries/REST_Controller.php';
//By: JovannyRch
class ${tableNameFormated} extends REST_Controller{

    public function __construct() {
        parent::__construct();
        $this->load->database();
        $this->load->helper('url');
        $this->load->model("${tableName}_model");
    }

    public function ${tableName}_get($${primaryKey} = null)
    {
        if($${primaryKey}) $resultado = $this->${tableName}_model->get($${primaryKey});
        else $resultado = $this->${tableName}_model->get();
        if($resultado)$this->response($resultado, 200);
        else $this->response("Error en el get de ${tableName}", 400);
    }

    public function ${tableName}_post()
    {
        $data = array(
`;
            for (var i in columnas) {
                row = columnas[i];
                if (row.nombre !== primaryKey) {
                    resultado += "\t\t'" + row.nombre + "'" + " => $this->post('" + row.nombre + "')";
                    if (i == columnas.length - 1) resultado += "\n";
                    else resultado += ",\n";
                }

            }
            resultado +=
                `       );
        $resultado = $this->${tableName}_model->save($data);
        if($resultado) $this->response('Guardado con éxito',200);
        else $this->response("Error en el post de ${tableName}",400);
    }

    public function ${tableName}_put($${primaryKey})
    {
        $data = array(
`;
            for (var i in columnas) {
                row = columnas[i];
                if (row.nombre !== primaryKey) {
                    resultado += "\t    '" + row.nombre + "'" + " => $this->put('" + row.nombre + "')";
                    if (i == columnas.length - 1) resultado += "\n";
                    else resultado += ",\n";
                }

            }

            resultado +=
                `       );
        $resultado = $this->${tableName}_model->update($${primaryKey},$data);
        if($resultado) $this->response('Moficado con éxito',200);
        else  $this->response("Error en el post de ${tableName}",400);
    }
    
    public function ${tableName}_delete($${primaryKey})
    {
        $resultado = $this->${tableName}_model->delete($${primaryKey});
        if($resultado) $this->response('Eliminado con éxito',200);
        else $this->response('Error en el delete de ${tableName}',400);
    }
}
    `
            return resultado;
        }

        function generarModel(columnas, tableName) {
            var resultado = "";
            var tableNameFormated = formatTableName(tableName);
            var primaryKey = getPrimaryKey(columnas);
            tableNameLC = tableName.toLowerCase();
            resultado =
                `
<?php
defined('BASEPATH') OR exit('No direct script access allowed');

//By: JovannyRch

class ${tableNameFormated}_model extends CI_Model {

    public function get($${primaryKey} = null){
        if($${primaryKey}){
            $resultado = $this->db->query("SELECT * FROM ${tableNameLC} WHERE ${primaryKey} = $${primaryKey}");
            if($resultado->num_rows() > 0) return $resultado->row_array();
            return false;
        }else{
            $resultado = $this->db->query("SELECT * FROM ${tableNameLC}");
            return $resultado->result_array();
        }
    }

    public function save($data){
        $this->db->set($data)->insert('${tableNameLC}');
        if ($this->db->affected_rows() === 1) return $this->db->insert_id();
        return null;
    }

    public function update($${primaryKey},$data){
        $this->db->set($data)->where('${primaryKey}', $${primaryKey})->update('${tableNameLC}');
        if ($this->db->affected_rows() === 1) return true;
        return null;
    } 

    public function delete($${primaryKey})
    {
        $this->db->where('${primaryKey}', $${primaryKey})->delete('${tableNameLC}');
        if ($this->db->affected_rows() === 1) return true;
        return null;
    }
}
        `
            return resultado;
        }

        function getPrimaryKey(columnas) {
            for (var i in columnas) {
                row = columnas[i];
                if (row.tipo === 'PRIMARY KEY') {
                    return row.nombre;
                }
            }
            return "";
        }

        // JS restringe el manejo de el tag script en las cadenas, las vistas tambien se pueden generar automaticamente pero tuve esos problemas
        function generarVistas(columnas, tableName) {
            var tableNameFormated = formatTableName(tableName);
            var resultado = `
 `;
            return resultado;
        }

        function generarAxios(columnas, tableName) {
            var tableNameFormated = formatTableName(tableName);
            var primaryKey = getPrimaryKey(columnas);

            var dataString = "";
            var paramsString = "";
            for (var i in columnas) {
                row = columnas[i];
                if (row.nombre !== primaryKey) {
                    paramsString += " " + row.nombre;
                    dataString += "\t\t" + row.nombre + " : " + row.nombre;
                    if (i == columnas.length - 1) {
                        resultado += "\n";
                    } else {
                        dataString += ",\n";
                        paramsString += ",";
                    }
                }

            }

            var resultado =
                `

function get${tableNameFormated}(){
    var url = "";
    axios.get(url)
    .then(response => {
        this.${tableNameFormated} = response.data;
    }).catch(error => {
        this.${tableNameFormated} = [];
    });
}

function post${tableNameFormated}(${paramsString}){
    var url = "";
    var data = {
${dataString}
    };
    axios.post(url,data)
    .then(response => {
        console.log("Éxito en post de ${tableNameFormated}");
    }).catch(error => {
        console.log("Error en post de ${tableNameFormated}");
    });
}

function put${tableNameFormated}(${primaryKey},${paramsString}){
    var url = ""+${primaryKey};
    var data = {
${dataString}
    };
    axios.put(url,data)
    .then(response => {
        console.log("Éxito en put de ${tableNameFormated}");
    }).catch(error => {
        console.log("Error en put de ${tableNameFormated}");
    });
}

function delete${tableNameFormated}(${primaryKey}){
    var url = ""+${primaryKey};
    axios.delete(url)
    .then(response => {
        console.log("Éxito en delete de ${tableNameFormated}");
    }).catch(error => {
        console.log("Éxito en delete de ${tableNameFormated}");
    });
}

 
 `;

            return resultado;
        }
    </script>
</body>

</html>